trigger:
  - main
  - master

pool:
  name: 'linuxBuildBox'

steps:
- checkout: self
  displayName: 'Checkout code'

- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node.js'

- script: |
    npm install
  displayName: 'Install dependencies'
  workingDirectory: 'node-js-dummy-test-master'

- script: |
    echo "starting local website with npm start and getting the server PID"
    # 1. Start server in background using '&'
    npm start &
    SERVER_PID=$!
    echo "Server started with PID $SERVER_PID"

    # 2. Wait for server to boot
    #wait 60 seconds for the site to be running
    echo "waiting 60 seconds..."
    sleep 60

    # 3. Run tests
    echo "issue a wget to make sure the site is running, this would be a good place for automted UI tests"
    RESPONSE=$(curl -s http://localhost:3000/)
      
      # Echo the response
      echo "Web app response: $RESPONSE"

    # 4. Clean up
    echo "stopping the website now."
    kill $SERVER_PID
  workingDirectory: 'node-js-dummy-test-master'
  displayName: 'Start server and run tests locally on agent'
