trigger:
  - main
  - master

# variables:
#   DOCKER_BUILDKIT: 1
  
resources:
  repositories:
    # - repository: automatedtesting
    #   type: github
    #   endpoint: 'chevelleman1'
    #   name: 'chevelleman1/automatedtesting'

    - repository: test_website
      type: github
      endpoint: 'chevelleman1'
      name: 'chevelleman1/test_website'

pool:
  name: 'linuxBuildBox'

#variables:
  # Added 'app/' prefix because of the 'path: app' checkout step below
  #workingDir: 'node-js-dummy-test-master'

steps:

# - checkout: automatedtesting 
#   path: s/tests

- checkout: test_website 
  path: 's/app'

- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'
      

- script: npm install |
    echo "XXXXXXXXXXXXXX- $(Build.SourcesDirectory)"
  workingDirectory: 'node-js-dummy-test-master'
  displayName: 'Build (Install dependencies)'

# - script: |
#     echo "Starting local website..."
#     # Start server and detach from STDIO to prevent pipeline hang
#     nohup npm start > /dev/null 2>&1 & 
    
#     # Save PID to the workspace root so it's easy for other steps to find
#     echo $! > $(Pipeline.Workspace)/server.pid
#     echo "Server started with PID $(cat $(Pipeline.Workspace)/server.pid)"
    
#     # Wait for boot
#     sleep 30
#   workingDirectory: app/node-js-dummy-test-master
#   displayName: 'Start Server'

# - script: |
#     echo "Installing Playwright/Test dependencies..."
#     npm install
#     # Uncomment if browsers aren't on your agent yet:
#     #npx playwright install --with-deps
    
#     echo "Running UI Automated Tests..."
#     npm test
#   workingDirectory: tests
#   displayName: 'Run UI Automated Tests'

# - script: |
#     if [ -f $(Pipeline.Workspace)/server.pid ]; then
#       PID=$(cat $(Pipeline.Workspace)/server.pid)
#       echo "Stopping server with PID $PID..."
#       kill $PID || true
#       rm $(Pipeline.Workspace)/server.pid
#     fi
#     # Extra safety: kill anything on port 3000
#     fuser -k 3000/tcp || true
#   workingDirectory: app/node-js-dummy-test-master
#   displayName: 'Stop Server'
#   condition: always()


- task: Docker@2
  displayName: 'Build and push an image to container registry'
  inputs:
    command: 'buildAndPush'
    # Name of the Docker registry service connection created in Azure DevOps
    containerRegistry: 'bobdocker' 
    repository: 'chevelleman1/bobwebapp'
    dockerfile: 'app/node-js-dummy-test-master/Dockerfile'
    tags: |
      latest

