trigger:
  - main
  - master

resources:
  repositories:
    - repository: automatedtesting
      type: github
      endpoint: 'chevelleman1'
      name: 'chevelleman1/automatedtesting'
    - repository: test_website
      type: github
      endpoint: 'chevelleman1'
      name: 'chevelleman1/test_website'

variables:
  DOCKER_BUILDKIT: 0
  DOCKER_CLI_BUILDX: 0

pool:
  name: 'linuxBuildBox'

stages:
- stage: BuildAndTest
  displayName: '1. Checkout, Build, Start & Test'
  jobs:
  - job: CompileAndTest
    steps:
    # 1. BOTH checkouts must happen at the very beginning of the job
    - checkout: test_website 
      path: 's/app'
    - checkout: automatedtesting 
      path: 's/tests'

    - task: NodeTool@0
      inputs:
        versionSpec: '18.x'

    # 2. Build and Start the Website
    - bash: |
        fuser -k 3000/tcp || true
        npm install
        nohup npm start > webserver.log 2>&1 &
        echo $! > server.pid
        
        echo "Waiting for localhost:3000..."
        for i in {1..20}; do
          if curl -s http://localhost:3000 > /dev/null; then
            echo "SUCCESS: Website is up!"
            exit 0
          fi
          sleep 2
        done
        exit 1
      workingDirectory: 'app/node-js-dummy-test-master'
      displayName: 'NPM Install and NPM Start'

    # 3. Run the Automation Tests
    - bash: |
        npm install
        npm test
      workingDirectory: 'tests'
      displayName: 'Run UI Tests - install/test'

    # 4. Mandatory Cleanup (Stops the 25-minute hang)
    - bash: |
        echo "Kill anything running on port 3000/tcp"
        fuser -k 3000/tcp || true
      displayName: 'Stop Website'
      condition: always() 


# STAGE 4: Finalize (Docker & Cleanup)
- stage: Finalize
  displayName: '4. Docker & Cleanup'
  dependsOn: BuildAndTest
  condition: always()
  jobs:
  - job: PushAndClean
    steps:
    - checkout: test_website 
      path: 's/app'
    - task: Docker@2
      displayName: 'Build and Push'
      condition: succeeded('AutomatedTesting')
      inputs:
        command: 'buildAndPush'
        containerRegistry: 'bobdocker' 
        repository: 'chevelleman1/bobwebapp'
        dockerfile: 'node-js-dummy-test-master/Dockerfile'
        tags: |
          latest
    - script: fuser -k 3000/tcp || true
      displayName: 'Stop Server'
      condition: always()
