* {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body {
    background: rgb(0, 0, 0);
    color: #00ffbf;
    margin-top: 20px;
}

.container {
    display: block;
    width: 400px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}

.button {
    display: block;
    width: 50%;
    height: 30px;
    background: #00ffbf;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    line-height: 10px;
    cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social-icons a {
    color: #00ffbf;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #00cc99;
}